<ion-content>
  <div class="safe-area-top safe-area-bottom">

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-card class="text-white">
      <ion-card-header>
        <ion-row>

          <ion-col class="ion-align-self-end text-white">
            <h4 class="ion-margin-start">Register</h4>
          </ion-col>

          <ion-col size="auto" class="ion-align-self-end">
            <ion-button color="danger" class="ion-margin-end" [routerLink]="['/login']">
                <ion-icon class="icon-white" slot="icon-only" name="close-sharp"></ion-icon>
            </ion-button>
          </ion-col>

        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <form #authForm="ngForm" (ngSubmit)="onSubmit()">

          <ion-input
            label="Name"
            label-placement="floating"
            fill="outline"
            type="text"
            [(ngModel)]="userData().name"
            name="name"
            #name="ngModel"
            class="px-4"
            errorText="The name is required"
            required
            >
          </ion-input>

          @if (errors()['name']) {
            <ion-text class="ion-margin-start px-4" color="danger">
              <small>{{ errors()['name'] }}</small>
            </ion-text>
          }

          <ion-input
            label="Lastname"
            label-placement="floating"
            fill="outline"
            type="text"
            [(ngModel)]="userData().lastname"
            name="lastname"
            #lastname="ngModel"
            class="px-4 my-2"
            errorText="The lastname is required"
            required
            >
          </ion-input>

          @if (errors()['lastname']) {
            <ion-text class="ion-margin-start px-4" color="danger">
              <small>{{ errors()['lastname'] }}</small>
            </ion-text>
          }

          <ion-input
            label="Date"
            label-placement="floating"
            fill="outline"
            type="date"
            [(ngModel)]="userData().birthDate"
            name="date"
            #date="ngModel"
            class="px-4 my-2"
            errorText="Date is required"
            required
            >
          </ion-input>

          @if (errors()['birthDate']) {
            <ion-text class="ion-margin-start px-4" color="danger">
              <small>{{ errors()['birthDate'] }}</small>
            </ion-text>
          }

          <ion-input
            label="Email"
            label-placement="floating"
            fill="outline"
            type="email"
            [(ngModel)]="userData().email"
            name="email"
            #email="ngModel"
            class="px-4 mt-2 mb-2"
            [errorText]="email.errors?.['email'] ? 'It does not have an email format':
              'Email is required'"
            required
            email
            >
          </ion-input>

          @if (errors()['email']) {
            <ion-text class="ion-margin-start px-4" color="danger">
              <small>{{ errors()['email'] }}</small>
            </ion-text>
          }

          <ion-input
            label="Password"
            label-placement="floating"
            fill="outline"
            type="password"
            [(ngModel)]="userData().password"
            name="password"
            #password="ngModel"
            class="px-4"
            [errorText]="
              password.errors?.['minlength'] ? 'The password must be 6 characters long' :
              'Password is required'
              "
            required
            minlength="6"
            >
          </ion-input>

          @if (errors()['password']) {
            <ion-text class="ion-margin-start px-4" color="danger">
              <small>{{ errors()['password'] }}</small>
            </ion-text>
          }

          @if(userData().password && userData().password.length >= 6){
            <ion-input
              label="Confirm password"
              label-placement="floating"
              fill="outline"
              type="password"
              [(ngModel)]="userData().confirmPassword"
              name="confirmPassword"
              #confirmPassword="ngModel"
              class="px-4 mt-3 mb-2"
              errorText="Must not be empty"
              required
              >
            </ion-input>

            @if (!passwordsMatch()) {
              <ion-text class="ion-margin-start px-4" color="danger">
                <small>The passwords don't match</small>
              </ion-text>
            }
          }

          <ion-button expand="block" type="submit" color="warning" class="mx-4 my-4">
            Register
          </ion-button>

        </form>
      </ion-card-content>

    </ion-card>
  </div>

</ion-content>