<ion-content>
  <div class="safe-area-top safe-area-bottom">

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-card>
      <ion-card-header class="ion-text-end">
        <div style="display:inline-block;">
          <ion-button color="danger" class="ion-margin-end" [routerLink]="['/dailyHabits']"> 
            <ion-icon class="icon-white" slot="icon-only" name="close-sharp"></ion-icon>
          </ion-button>
        </div>
      </ion-card-header>

      <ion-card-content>

        <div>
          <div class="profile-container">
            @if(user.image){
              <img [src]="user.imageProfile" class="rounded-circle mx-auto d-block profile-image" alt="image-user" width="150" height="150" />
            }@else{
              <img src="/img/image-user-default.jpg" class="rounded-circle mx-auto d-block profile-image" alt="image-user" width="150" height="150">
            }

            <ion-button class="edit-image-btn" shape="round" (click)="isOpen = true">
              <ion-icon slot="icon-only" name="brush-outline"></ion-icon>
            </ion-button>

          </div>

          <div class="ion-margin">
            <p>
              <ion-text class="ion-text-center text-white" style="display: block;">
                <strong>{{ nameUser }} {{ lastnameUser }}</strong>
              </ion-text>
            </p>
            <p>
              <ion-text class="ion-text-center text-white" style="display: block;">
                <i>{{ emailUser }}</i>
              </ion-text>
            </p>
          </div>

        </div>

        <ion-segment>
          <ion-segment-button value="dataTab" content-id="dataTab">
            <ion-label>Data</ion-label>
          </ion-segment-button>
          <ion-segment-button value="passwordTab" content-id="passwordTab">
            <ion-label>Password</ion-label>
          </ion-segment-button>
          <ion-segment-button value="deleteTab" content-id="deleteTab">
            <ion-label class="label-space">Delete Account</ion-label>
          </ion-segment-button>
        </ion-segment>

        <ion-segment-view>
          <ion-segment-content id="dataTab">
            <app-user-form-data />
          </ion-segment-content>
          <ion-segment-content id="passwordTab">
            <app-user-form-password />
          </ion-segment-content>
          <ion-segment-content id="deleteTab">
            <app-user-form-delete />
          </ion-segment-content>
        </ion-segment-view>

      </ion-card-content>

    </ion-card>
  </div>
</ion-content>

<ion-modal [isOpen]="isOpen" [initialBreakpoint]="0.75" [breakpoints]="[0, 0.75]" (didDismiss)="isOpen = false">
  <ng-template>
    <ion-content>
      <ion-card>
        <ion-card-header>
          
          <ion-row>
            <ion-col class="ion-align-self-end">
              <h4 class="ion-margin-start text-white">Edit Image</h4>
            </ion-col>

            <ion-col size="auto">
              <ion-button color="danger" class="ion-margin-end" (click)="cancel()"> 
                <ion-icon class="icon-white" slot="icon-only" name="close-sharp"></ion-icon>
              </ion-button>
            </ion-col>

          </ion-row>

        </ion-card-header>

        <ion-card-content class="ion-text-center">
          <input type="file" accept=".png,.jpg,.jpge" class="ion-margin" (change)="onFileSelected($event)">
          @if(fileError){
            <ion-text color="danger">{{fileError}}</ion-text>
          }
          
          <ion-row class="ion-margin">

            <ion-col>
              <ion-button color="medium" (click)="cancel()">
                Close
              </ion-button>
            </ion-col>

            <ion-col>
              <ion-button [disabled]="!selectedFile" (click)="onSaveImage($event)">
                Save Changes
              </ion-button>
            </ion-col>

          </ion-row>
        </ion-card-content>

      </ion-card>
    </ion-content>
  </ng-template>
</ion-modal>

