<form (ngSubmit)="onSubmit(passwordForm)" #passwordForm="ngForm" class="ion-margin">

  <ion-list class="ion-padding-horizontal">
    
    <ion-row class="ion-margin-bottom">
      <ion-input
        type="password"
        label="Current Password"
        label-placement="floating"
        fill="outline"
        [(ngModel)]="requestPassword.oldPassword" name="oldPassword" #oldPassword="ngModel"
        required
        [errorText]="'Password is required'"
        >
      </ion-input>
      @if(errors?.oldPassword){
        <ion-text class="ion-margin-start" color="danger">{{errors.oldPassword}}</ion-text>
      }@else if(errors.error){
        <ion-text class="ion-margin-start" color="danger">{{errors.error}}</ion-text>
      }
    </ion-row>

    <ion-row class="ion-margin-bottom">
      <ion-input
        type="password"
        label="New Password"
        label-placement="floating"
        fill="outline"
        [(ngModel)]="requestPassword.newPassword" name="newPassword" #newPassword="ngModel"
        required
        minlength="6"
        [errorText]="newPassword.errors?.['minlength'] ? 'The password must be 6 characters long' : 
          'Password is required'
        "
        >
      </ion-input>
      @if(errors.oldPassword){
        <ion-text class="ion-margin-start" color="danger">{{errors.newPassword}}</ion-text>
      }@else if(!matches){
        <ion-text class="ion-margin-start" color="danger">The password doesn't match</ion-text>
      }
    </ion-row>

    <ion-row class="ion-margin-bottom">
      <ion-input
        type="password"
        label="Confirm New Password"
        label-placement="floating"
        fill="outline"
        [(ngModel)]="this.newPasswordConfirm" name="newPasswordConfirm" #newPasswordConfirm="ngModel"
        required
        [errorText]="'Must not be empty'"
        >
      </ion-input>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-button fill="outline" color="danger" type="submit">
        Change Password
      </ion-button>
    </ion-row>

  </ion-list>

</form>
