<div class="ion-margin">
  <ion-list class="ion-padding-horizontal">

    <ion-row class="ion-margin-bottom">
      <ion-input
        type="password"
        label="Current Password"
        label-placement="floating"
        fill="outline"
        [(ngModel)]="passwordData().oldPassword"
        name="oldPassword"
        #oldPassword="ngModel"
        required
        errorText="Password is required"
        >
      </ion-input>

      @if (errors()['oldPassword']) {
        <ion-text class="ion-margin-start" color="danger">
          <small>{{ errors()['oldPassword'] }}</small>
        </ion-text>
      } @else if (errors()['error']) {
        <ion-text class="ion-margin-start" color="danger">
          <small>{{ errors()['error'] }}</small>
        </ion-text>
      }
    </ion-row>

    <ion-row class="ion-margin-bottom">
      <ion-input
        type="password"
        label="New Password"
        label-placement="floating"
        fill="outline"
        [(ngModel)]="passwordData().newPassword"
        name="newPassword"
        #newPassword="ngModel"
        required minlength="6"
        [errorText]="newPassword.errors?.['minlength'] ? 'The password must be 6 characters long' :
          'Password is required'
        "
        >
      </ion-input>

      @if (errors()['newPassword']) {
        <ion-text class="ion-margin-start" color="danger">
          <small>{{ errors()['newPassword'] }}</small>
        </ion-text>
      } @else if(!passwordsMatch()) {
        <ion-text class="ion-margin-start" color="danger">
          <small>The password don't match</small>
        </ion-text>
      }
    </ion-row>

    <ion-row class="ion-margin-bottom">
      <ion-input
        type="password"
        label="Confirm New Password"
        label-placement="floating"
        fill="outline"
        [(ngModel)]="passwordData().confirmPassword"
        name="confirmPassword"
        #confirmPassword="ngModel"
        required
        errorText="Must not be empty"
        >
      </ion-input>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-button fill="outline" color="danger" (click)="onSubmit()">
        Change Password
      </ion-button>
    </ion-row>

  </ion-list>
</div>
