<ion-content>
  <div class="safe-area-top safe-area-bottom">

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <h1 class="ion-text-center my-5">Appbito</h1>

    <ion-card class="w-75 text-white">
      <ion-card-header class="ion-text-center text-white">
        <h4>Login</h4>
      </ion-card-header>

      <ion-card-content class="ion-padding-horizontal">
        <form #authForm="ngForm" (ngSubmit)="onSubmit()">

          @if (message || errors()['error']) {
            <ion-card class="mb-3" style="background-color: var(--ion-color-danger-shade);">
              <ion-card-content class="ion-text-center" style="color:white;">
                {{message || errors()['error']}}
              </ion-card-content>
            </ion-card>
          }

          <ion-input
            label="Email"
            label-placement="floating"
            fill="outline"
            type="email"
            [(ngModel)]="credentials.email"
            name="email"
            required
            errorText="Email is required"
            class="w-95 mb-3" >
          </ion-input>

          @if (errors()['email']) {
            <ion-text class="ion-margin-start px-4" color="danger">
              <small>{{ errors()['email'] }}</small>
            </ion-text>
          }

          <ion-input
            label="Password"
            label-placement="floating"
            fill="outline"
            type="password"
            [(ngModel)]="credentials.password"
            name="password"
            required
            errorText="Password is required"
            class="w-95 mb-3" >
          </ion-input>

          @if (errors()['password']) {
            <ion-text class="ion-margin-start px-4" color="danger">
              <small>{{ errors()['password'] }}</small>
            </ion-text>
          }

          <ion-button expand="block" type="submit" class="ion-margin-horizontal mb-3">
            Login
          </ion-button>


          <div class="ion-margin-vertical">
            <a [routerLink]="['/signIn']">
              <h4 class="ion-text-center">
                Sign in
              </h4>
            </a>
          </div>

        </form>

      </ion-card-content>

    </ion-card>
  </div>

</ion-content>