// ion-card{
//     border: none !important;
//     background: transparent !important;
//     box-shadow: none !important;
// }

.w-75{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.w-95{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}