<div class="ion-margin">
  <ion-list class="ion-padding-horizontal">

    <ion-row>
      <ion-col>
        <ion-input
          label="Name"
          label-placement="floating"
          fill="outline"
          [(ngModel)]="userForm().name"
          name="name"
          #name="ngModel"
          required
          errorText="The name is required"
          [disabled]="!isEditing('name')"
          class="text-white"
        >
        </ion-input>

        @if (errors()['name']) {
          <ion-text color="danger">
            <small>{{ errors()['name'] }}</small>
          </ion-text>
        }

      </ion-col>

      <ion-col size="auto">
        @if (isEditing('name')) {
          <ion-button color="medium" (click)="toggleEdit('name')">
            <ion-icon slot="icon-only" name="close-sharp"></ion-icon>
          </ion-button>

          <ion-button color="warning" (click)="onSubmit()">
            <ion-icon slot="icon-only" name="save-outline"></ion-icon>
          </ion-button>
        } @else {
          <ion-button color="primary" (click)="toggleEdit('name')">
            <ion-icon slot="icon-only" name="brush-outline"></ion-icon>
          </ion-button>
        }
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-input
          label="Lastname"
          label-placement="floating"
          fill="outline"
          [(ngModel)]="userForm().lastname"
          name="lastname"
          #lastname="ngModel"
          required
          errorText="The lastname is required"
          [disabled]="!isEditing('lastname')"
          class="text-white"
        >
        </ion-input>

        @if (errors()['lastname']) {
          <ion-text color="danger">
            <small>{{ errors()['lastname'] }}</small>
          </ion-text>
        }
      </ion-col>

      <ion-col size="auto">
        @if (isEditing('lastname')) {
          <ion-button color="medium" (click)="toggleEdit('lastname')">
            <ion-icon slot="icon-only" name="close-sharp"></ion-icon>
          </ion-button>

          <ion-button color="warning" (click)="onSubmit()">
            <ion-icon slot="icon-only" name="save-outline"></ion-icon>
          </ion-button>
        } @else {
          <ion-button color="primary" (click)="toggleEdit('lastname')">
            <ion-icon slot="icon-only" name="brush-outline"></ion-icon>
          </ion-button>
        }
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-align-self-center ion-text-start">
        <div style="display: inline-block;">
          <ion-datetime-button
            datetime="birthDate"
            [disabled]="!isEditing('birthDate')"
            >
          </ion-datetime-button>
        </div>
      </ion-col>

      <ion-col size="auto">
        @if (isEditing('birthDate')) {
          <ion-button color="medium" (click)="toggleEdit('birthDate')">
            <ion-icon slot="icon-only" name="close-sharp"></ion-icon>
          </ion-button>

          <ion-button color="warning" (click)="onSubmit()">
            <ion-icon slot="icon-only" name="save-outline"></ion-icon>
          </ion-button>
        } @else {
          <ion-button color="primary" (click)="toggleEdit('birthDate')">
            <ion-icon slot="icon-only" name="brush-outline"></ion-icon>
          </ion-button>
        }
      </ion-col>
    </ion-row>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime
          id="birthDate"
          presentation="date"
          [(ngModel)]="userForm().birthDate"
          >
        </ion-datetime>
      </ng-template>
    </ion-modal>

    <ion-row class="ion-margin-top ion-padding-top ion-justify-content-center">
      <ion-button color="danger" (click)="handlerLogout()" >
        <ion-text class="text-white">Logout</ion-text>
      </ion-button>
    </ion-row>

  </ion-list>

</div>